body {

}

.navbar {
  margin-bottom: 10px;
}

span.folder-toggle {
  cursor: pointer;
}

span.folder-name {
  cursor: pointer;
}

div.folder-children {
  margin-left: 1em;
}

div.folders-wrapper, div.resources-wrapper {
  overflow-y: auto;
}

div.resources {
  margin-left: auto;
  margin-right: auto;
}

div.resource {
  position: relative;
  float: left;
  border: 1px solid transparent;
  margin: 2px;
  width: 210px;
  height: auto;
  padding: 4px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}

div.resource.selected {
  border-color: blue;
}

div.resource:hover:not(.selected) {
  border-color: lightblue;
}

div.resource span {
  position: absolute;
  opacity: 0;
}

div.resource:hover span {
  opacity: 1;
}

div.resource span.name {
  bottom: 0;
}

div.resource span.play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  opacity: 0.7;
  left: 86px;
  top: 50%;
  transform: translateY(-50%);
}

div.resource span.play:before, div.resource span.play:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
}

div.resource span.play:before {
  border-left-color: #ccc;
  position: absolute;
  top: 10px;
  left: 16px;
  z-index: 2;
}

.preview-wrapper {
  text-align: center;
}

.preview {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
